<script>
  <%# todo: move this somewhere better %>
  document.onreadystatechange = function() {
    console.debug("document.readyState: " + document.readyState);
    <%# if (document.readyState == "interactive") { } %>
    if (document.readyState == "complete") {
      document.getElementById("out_current").scrollIntoView();
    }
  };
</script>

<% ps1 = ">[#{flie_o.class.name}::#{You.name}]>" %>
<% display_ps1 = ps1 %>
<% if current_user.present? %>
  <% display_ps1 = ">[#{flie_o.you.user.email_address}]>" %>
<% end %>

<div id="tty" class="bg-black text-green overflow-x-hidden">
  <div id="frame" class="flex flex-col overflow-y-auto w-screen h-screen text-2xl font-semibold font-mono selection:bg-green selection:text-black">
    <div id="output" class="flex flex-col-reverse grow">
      <% flie_o.os_logs.reverse.each_with_index do |os_log, idx| %>
      <% anchor = idx == Aro::Mancy::O ? :current.to_s : os_log.id %>
        <% if os_log.out.present? %>
          <div id="<%= "out_#{anchor}" %>">
            <% display_out = os_log.out&.strip %>
            <% if display_out.include?(:USAGE.to_s) %>
            <%# large blocks of text %>
              <pre>
                <%= display_out %>
              </pre>
            <% else %>
              <div class="text-balance">
                <%= display_out %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if os_log.in.present? %>
          <div id="<%= "in_#{anchor}" %>">
            <pre><%= "#{display_ps1}: #{os_log.in&.strip}" %></pre>
          </div>
        <% end %>

      <% end %>

    </div>
    <div class="flex grow-none flex-row">
      <div class="ps1">
        <% input_type = :text %>
        <% os_do = flie_o.os_dos.find_by(status: :active) %>
        <% if os_do.present? %>
          <% input_type = os_do.os_get.input_type %>
          <%= "#{os_do.os_get.prompt}:" %>
        <% else %>
          <%= "#{display_ps1}:$" %>
        <% end %>
      </div>

      <%= form_with url: flie_o_os_logs_path(flie_o.id), html: {class: "flex grow ml-[1rem]"} do |form| %>
        <input type="<%= input_type %>" id="os_log_in" name="os_log[in]" class="grow focus:outline-none" spellcheck="false" autocomplete="off" autofocus></input>
      <% end %>

    </div>
  </div>
</div>
